/* pt-sans-regular - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('/fonts/pt-sans-v12-latin-regular.woff2') format('woff2'),
    url('/fonts/pt-sans-v12-latin-regular.woff') format('woff');
}

/* pt-sans-italic - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local(''),
    url('/fonts/pt-sans-v12-latin-italic.woff2') format('woff2'),
    url('/fonts/pt-sans-v12-latin-italic.woff') format('woff');
}

/* pt-mono-regular - latin */
@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('/fonts/pt-mono-v8-latin-regular.woff2') format('woff2'),
    url('/fonts/pt-mono-v8-latin-regular.woff') format('woff');
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  html,
  body {
    height: 100%;
  }

  body {
    --primary: #10b981;
    @apply bg-gray-50 text-gray-700 font-body overflow-x-hidden;
  }

  .dark {
    @apply bg-gray-900 text-gray-400;
  }

  button {
    @apply font-body
  }
}